# ───── Smart-Paper-Explainer │ Python 3.13 ─────

# Web backend
flask>=2.2.0            

# PDF text extraction
PyMuPDF>=1.26.1          

# Numerical computing & embeddings
numpy>=2.3.0             
sentence-transformers>=4.1.0

# Vector search for embeddings
faiss-cpu>=1.11.0        

# HTTP requests for Groq API
requests>=2.31.0         

# Environment variable management
python-dotenv>=1.0.1     

#render deployment
gunicorn
